- if @auths
  - unless @auths.empty?
    %p
      %strong You can sign in to this account using:
    .authentications
      - @auths.each do |authentication|
        .authentication
          = image_tag "#{authentication.provider}_32.png", :size => "32x32"
          .provider= authentication.provider_name
          .uid= truncate(authentication.uid)
          - if @auths.size > 1 or current_user.encrypted_password.present?  # to prevent people deleting their last method of logging in!
            = link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"
    .clear
      
    %p
      %strong Add another service to sign in with:
- else
  %p
    %strong Sign in through one of these services:

= render :partial => "devise/shared/services"

- if @auths
  Delete your account?